[submodule "lib/freertos"]
	path = lib/freertos
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/mcux-sdk"]
	path = lib/mcux-sdk
	url = git@github.com:nxp-mcuxpresso/mcux-sdk.git
[submodule "lib/cmsis"]
	path = lib/cmsis
	url = git@github.com:ARM-software/CMSIS_5.git
