[submodule "lib/freertos"]
	path = lib/freertos
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/mcux-sdk"]
	path = lib/mcux-sdk
	url = git@github.com:nxp-mcuxpresso/mcux-sdk.git
[submodule "lib/flatbuffers"]
	path = lib/flatbuffers
	url = git@github.com:google/flatbuffers.git
[submodule "lib/gemmlowp"]
	path = lib/gemmlowp
	url = git@github.com:google/gemmlowp.git
[submodule "lib/cmsis-nn"]
	path = lib/cmsis-nn
	url = git@github.com:ARM-software/CMSIS-NN.git
[submodule "lib/kissfft"]
	path = lib/kissfft
	url = git@github.com:mborgerding/kissfft.git
[submodule "lib/cmsis"]
	path = lib/cmsis
	url = git@github.com:ARM-software/CMSIS_6.git
